In [6]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn import preprocessing, neighbors, cross_validation

/home/faisal/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [3]:
df = pd.read_csv('breast-cancer-wisconsin.data', sep=',', names= ['id','clump_thickness','uniformity_cell_size','uniformity_cell_shape','marginal_adhesion','epithelial_cell_size','bare_nuclei','bland_chromatin','normal_nucleoli','mitoses','class'])

In [4]:
df.shape

(699, 11)

In [5]:
df.head(5)

,id,clump_thickness,uniformity_cell_size,uniformity_cell_shape,marginal_adhesion,epithelial_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [22]:
df['class'].value_counts()

2    458
4    241
Name: class, dtype: int64

#### Replacing '?' in data with '-99999'

In [7]:
df.replace('?','-99999', inplace=True)

#### Dropping the id column

In [8]:
df.drop(['id'],1,inplace=True)

#### Setting up our features and Response Variable (Class)

In [9]:
features = np.array(df.drop(['class'],1))
response = np.array(df['class'])

In [10]:
features_train, features_test, response_train, response_test = cross_validation.train_test_split(features,response, test_size = 0.2)

In [24]:
len(response_test)

140

In [11]:
classifier = neighbors.KNeighborsClassifier()

In [12]:
classifier.fit(features_train,response_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [13]:
response_predict = classifier.predict(features_test)
from sklearn.metrics import accuracy_score
accuracy_score(response_test,response_predict)

0.9642857142857143

#### Confusion Matrix

In [16]:
from sklearn.metrics import confusion_matrix
pd.DataFrame(
    confusion_matrix(response_test, response_predict),
    columns=['Predicted benign', 'Predicted malignant'],
    index=['benign', 'malignant']
)

           Predicted benign  Predicted malignant
benign                   91                    3
malignant                 2                   44