In [208]:
import pandas as pd
import numpy as np

In [209]:
df = pd.read_excel("Got from new DIMS\PackingList903241.xlsx", usecols=[0,1,2,3,4,5], header=10)

In [210]:
df.shape

(27, 6)

In [211]:
df.drop(df.tail(2).index,inplace=True)

In [212]:
df.tail()

,Item Code,Number of Pieces,Number of Cartons,Net Weight,Gross Weight,Total Volumn CBM
20,140141,672.0,150.0,538.0,642.0,11.007097
21,140158,2184.0,546.0,1746.0,2085.0,35.773066
22,NaN,NaN,NaN,NaN,NaN,NaN
23,140149,2744.0,686.0,2195.0,2621.0,50.830000
24,140176,240.0,48.0,135.0,164.0,2.650000

In [213]:
df.dropna(how='all', inplace=True)

In [214]:
df.head()

,Item Code,Number of Pieces,Number of Cartons,Net Weight,Gross Weight,Total Volumn CBM
0,138490,480.0,96.0,83.0,128.0,2.062723
1,138491,480.0,96.0,82.0,128.0,2.062723
2,138492,480.0,96.0,80.0,125.0,2.062723
3,138494,480.0,96.0,80.0,125.0,2.062723
4,138495,240.0,48.0,43.0,66.0,1.031362

In [215]:
forCsv = df.groupby(['Item Code'], as_index=False)['Item Code','Number of Pieces','Number of Cartons','Gross Weight','Total Volumn CBM'].sum()

In [216]:
forCsv['Item Code'] = forCsv['Item Code'].astype(str)

In [217]:
forCsv['Number of Pieces'] = forCsv['Number of Pieces'].astype('Int64')

In [218]:
forCsv['Number of Cartons'] = forCsv['Number of Cartons'].astype('Int64')

In [219]:
forCsv['Gross Weight'] = forCsv['Gross Weight'].astype(float)

In [220]:
forCsv['Total Volumn CBM'] = forCsv['Total Volumn CBM'].astype(float)

In [221]:
forCsv.shape

(23, 5)

In [222]:
forCsv.head()

,Item Code,Number of Pieces,Number of Cartons,Gross Weight,Total Volumn CBM
0,138490,480,96,128.0,2.062723
1,138491,480,96,128.0,2.062723
2,138492,480,96,125.0,2.062723
3,138494,480,96,125.0,2.062723
4,138495,240,48,66.0,1.031362

In [223]:
forCsv['Gross Weight'] = forCsv['Gross Weight'].apply(lambda x: '{:.2f}'.format(x))

In [224]:
forCsv['Total Volumn CBM'] = forCsv['Total Volumn CBM'].apply(lambda x: '{:.2f}'.format(x))

In [225]:
forCsv.head()

  Item Code  Number of Pieces  Number of Cartons Gross Weight Total Volumn CBM
0    138490               480                 96       128.00             2.06
1    138491               480                 96       128.00             2.06
2    138492               480                 96       125.00             2.06
3    138494               480                 96       125.00             2.06
4    138495               240                 48        66.00             1.03

In [226]:
outDf = pd.read_csv("Got from new DIMS\output.csv", names =['Item Code','Number of Pieces','Number of Cartons','Gross Weight','Total Volumn CBM'], dtype=object, index_col =False)

In [227]:
outDf.head()

  Item Code Number of Pieces Number of Cartons Gross Weight Total Volumn CBM
0  140106/1             4080               510          702           14.225
1  140107/2              816               102          140            2.845
2  140114/3              700               140          134            1.375
3  140127/4              750               150          143            1.325
4  140130/5              750               150          120            1.725

In [228]:
outDf = outDf.groupby(['Item Code'], as_index=False)['Number of Pieces','Number of Cartons', 'Gross Weight','Total Volumn CBM'].sum()

In [229]:
outDf['Item Code'] = outDf['Item Code'].astype(str)

In [230]:
outDf['Item Code'] = outDf['Item Code'].apply(lambda x : x.split('/')[0])

In [231]:
outDf['Number of Pieces'] = outDf['Number of Pieces'].astype('Int64')

In [232]:
outDf['Number of Cartons'] = outDf['Number of Cartons'].astype('Int64')

In [233]:
outDf['Gross Weight'] = outDf['Gross Weight'].astype(float)

In [234]:
outDf['Total Volumn CBM'] = outDf['Total Volumn CBM'].astype(float)

In [235]:
outDf['Gross Weight'] = outDf['Gross Weight'].apply(lambda x : '{:.2f}'.format(x))

In [236]:
import math
def my_round(n, ndigits):
    part = n * 10 ** ndigits
    delta = part - int(part)
    # always round "away from 0"
    if delta >= 0.5 or -0.5 < delta <= 0:
        part = math.ceil(part)
    else:
        part = math.floor(part)
    return part / (10 ** ndigits)

In [237]:
outDf['Total Volumn CBM'] = outDf['Total Volumn CBM'].apply(lambda x : my_round(x,2))

In [238]:
outDf['Total Volumn CBM'] = outDf['Total Volumn CBM'].apply(lambda x : '{:.2f}'.format(x))

In [239]:
outDf.head()

  Item Code  Number of Pieces  Number of Cartons Gross Weight Total Volumn CBM
0    140106              4080                510       702.00            14.23
1    140107               816                102       140.00             2.85
2    140114               700                140       134.00             1.38
3    140127               750                150       143.00             1.33
4    140130               750                150       120.00             1.73

In [240]:
forCsv.dtypes

Item Code            object
Number of Pieces      int64
Number of Cartons     int64
Gross Weight         object
Total Volumn CBM     object
dtype: object

In [241]:
outDf.dtypes

Item Code            object
Number of Pieces      int64
Number of Cartons     int64
Gross Weight         object
Total Volumn CBM     object
dtype: object

In [242]:
outDf.shape

(14, 5)

In [243]:
common = forCsv.merge(outDf,on=['Item Code','Number of Pieces','Number of Cartons','Gross Weight','Total Volumn CBM'])
common
#df1[(~df1.col1.isin(common.col1))&(~df1.col2.isin(common.col2))]

,Item Code,Number of Pieces,Number of Cartons,Gross Weight,Total Volumn CBM
0,140106,4080,510,702.00,14.23
1,140107,816,102,140.00,2.85
2,140114,700,140,134.00,1.38
3,140127,750,150,143.00,1.33
4,140130,750,150,120.00,1.73
5,140131,1500,300,240.00,3.45
6,140138,270,54,41.00,1.16
7,140145,140,28,46.00,0.86
8,140149,2744,686,2621.00,50.83
9,140158,2184,546,2085.00,35.77
10,140159,2380,476,777.00,14.54
11,140176,240,48,164.00,2.65

In [244]:
packingList = forCsv[(~forCsv['Item Code'].isin(common['Item Code']))]#&(~forCsv['Number of Pieces'].isin(common['Number of Pieces'])) & (~forCsv['Number of Cartons'].isin(common['Number of Cartons']))]

In [245]:
poitm = outDf[(~outDf['Item Code'].isin(common['Item Code']))]#&(~outDf['Number of Pieces'].isin(common['Number of Pieces'])) & (~outDf['Number of Cartons'].isin(common['Number of Cartons']))]

In [246]:
packingList.dtypes

Item Code            object
Number of Pieces      int64
Number of Cartons     int64
Gross Weight         object
Total Volumn CBM     object
dtype: object

In [247]:
poitm.dtypes

Item Code            object
Number of Pieces      int64
Number of Cartons     int64
Gross Weight         object
Total Volumn CBM     object
dtype: object

In [248]:
m = {'left_only': 'PackingList', 'right_only': 'POITM', 'both': 'Both'}

result = packingList.merge(poitm, on=['Item Code'], how='outer', indicator='B')
#result = result.fillna(-1).astype(mainDict)
result['B'] = result['B'].map(m)

In [249]:
result

,Item Code,Number of Pieces_x,Number of Cartons_x,Gross Weight_x,Total Volumn CBM_x,Number of Pieces_y,Number of Cartons_y,Gross Weight_y,Total Volumn CBM_y,B
0,138490,480,96,128.00,2.06,NaN,NaN,NaN,NaN,PackingList
1,138491,480,96,128.00,2.06,NaN,NaN,NaN,NaN,PackingList
2,138492,480,96,125.00,2.06,NaN,NaN,NaN,NaN,PackingList
3,138494,480,96,125.00,2.06,NaN,NaN,NaN,NaN,PackingList
4,138495,240,48,66.00,1.03,NaN,NaN,NaN,NaN,PackingList
5,138669,1400,140,206.00,1.38,NaN,NaN,NaN,NaN,PackingList
6,138670,1400,140,194.00,1.38,NaN,NaN,NaN,NaN,PackingList
7,140137,760,150,120.00,1.73,750.0,150.0,120.00,1.73,Both
8,140141,672,150,642.00,11.01,672.0,168.0,642.00,11.01,Both
9,140575,2880,576,1136.00,5.11,NaN,NaN,NaN,NaN,PackingList
10,140576,1440,288,642.00,2.55,NaN,NaN,NaN,NaN,PackingList

In [250]:
result.dtypes

Item Code               object
Number of Pieces_x       int64
Number of Cartons_x      int64
Gross Weight_x          object
Total Volumn CBM_x      object
Number of Pieces_y     float64
Number of Cartons_y    float64
Gross Weight_y          object
Total Volumn CBM_y      object
B                       object
dtype: object

In [251]:
result.fillna(0, inplace=True)

In [252]:
result['Number of Pieces_y'] = result['Number of Pieces_y'].astype('Int64')

In [253]:
result['Number of Cartons_y'] = result['Number of Cartons_y'].astype('Int64')

In [254]:
result["Gross Weight_x"] = pd.to_numeric(result["Gross Weight_x"])

In [255]:
result["Gross Weight_y"] = pd.to_numeric(result["Gross Weight_y"])

In [256]:
result["Total Volumn CBM_x"] = pd.to_numeric(result["Total Volumn CBM_x"])

In [257]:
result["Total Volumn CBM_y"] = pd.to_numeric(result["Total Volumn CBM_y"])

In [258]:
result.dtypes

Item Code               object
Number of Pieces_x       int64
Number of Cartons_x      int64
Gross Weight_x         float64
Total Volumn CBM_x     float64
Number of Pieces_y       int64
Number of Cartons_y      int64
Gross Weight_y         float64
Total Volumn CBM_y     float64
B                       object
dtype: object

In [259]:
def piecesDiff(row):
    if row['B'] == 'Both':
        p = row['Number of Pieces_x'] - row['Number of Pieces_y']
    else:
        p = 0 
    return abs(p)

In [260]:
def cartonsDiff(row):
    if row['B'] == 'Both':
        p = row['Number of Cartons_x'] - row['Number of Cartons_y']
    else:
        p = 0 
    return abs(p)

In [261]:
def grossDiff(row):
    if row['B'] == 'Both':
        p = row['Gross Weight_x'] - row['Gross Weight_y']
    else:
        p = 0 
    return abs(p)

In [262]:
def volumeDiff(row):
    if row['B'] == 'Both':
        p = row['Total Volumn CBM_x'] - row['Total Volumn CBM_y']
    else:
        p = 0 
    return abs(p)

In [263]:
result['Pieces Difference'] = result.apply(piecesDiff, axis=1)

In [264]:
result['Cartons Difference'] = result.apply(cartonsDiff, axis=1)

In [265]:
result['Gross Weight Difference'] = result.apply(grossDiff, axis=1)

In [266]:
result['Volume Difference'] = result.apply(volumeDiff, axis=1)

In [267]:
result

,Item Code,Number of Pieces_x,Number of Cartons_x,Gross Weight_x,Total Volumn CBM_x,Number of Pieces_y,Number of Cartons_y,Gross Weight_y,Total Volumn CBM_y,B,Pieces Difference,Cartons Difference,Gross Weight Difference,Volume Difference
0,138490,480,96,128.0,2.06,0,0,0.0,0.00,PackingList,0,0,0.0,0.0
1,138491,480,96,128.0,2.06,0,0,0.0,0.00,PackingList,0,0,0.0,0.0
2,138492,480,96,125.0,2.06,0,0,0.0,0.00,PackingList,0,0,0.0,0.0
3,138494,480,96,125.0,2.06,0,0,0.0,0.00,PackingList,0,0,0.0,0.0
4,138495,240,48,66.0,1.03,0,0,0.0,0.00,PackingList,0,0,0.0,0.0
5,138669,1400,140,206.0,1.38,0,0,0.0,0.00,PackingList,0,0,0.0,0.0
6,138670,1400,140,194.0,1.38,0,0,0.0,0.00,PackingList,0,0,0.0,0.0
7,140137,760,150,120.0,1.73,750,150,120.0,1.73,Both,10,0,0.0,0.0
8,140141,672,150,642.0,11.01,672,168,642.0,11.01,Both,0,18,0.0,0.0
9,140575,2880,576,1136.0,5.11,0,0,0.0,0.00,PackingList,0,0,0.0,0.0
10,140576,1440,288,642.0,2.55,0,0,0.0,0.00,PackingList,0,0,0.0,0.0

In [318]:
import pandas as pd
import numpy as np

df = pd.read_excel('PackingListFormat.xlsx', usecols=[0,1,2,3,4,5], header=10)

df.drop(df.tail(2).index,inplace=True)

forCsv = df.groupby(['Item Code'], as_index=False)['Item Code','Number of Pieces','Number of Cartons'].sum()
forCsv['Item Code'] = forCsv['Item Code'].astype(str)
forCsv['Number of Pieces'] = forCsv['Number of Pieces'].astype(int)

forCsv['Number of Cartons'] = forCsv['Number of Cartons'].astype(int)
forCsv.to_csv('packing.csv',index=False)
outDf = pd.read_csv('output.csv', names =['Item Code','Number of Pieces','Number of Cartons'], dtype=None, index_col =False)

outDf = outDf.groupby(['Item Code'], as_index=False)['Number of Pieces','Number of Cartons'].sum()

outDf['Item Code'] = outDf['Item Code'].astype(str)

outDf['Number of Pieces'] = outDf['Number of Pieces'].astype(int)

outDf['Number of Cartons'] = outDf['Number of Cartons'].astype(int)

common = forCsv.merge(outDf,on=['Item Code','Number of Pieces','Number of Cartons'])

packingList = forCsv[(~forCsv['Item Code'].isin(common['Item Code']))]
poitm = outDf[(~outDf['Item Code'].isin(common['Item Code']))]

m = {'left_only': 'PackingList', 'right_only': 'POITM', 'both': 'Both'}

result = packingList.merge(poitm, on=['Item Code'], how='outer', indicator='B')
result['B'] = result['B'].map(m)
result

,Item Code,Number of Pieces_x,Number of Cartons_x,Number of Pieces_y,Number of Cartons_y,B
0,894807,300.0,75.0,328,82,Both
1,894814,300.0,75.0,316,79,Both
2,894822,300.0,75.0,316,79,Both
3,895108,92.0,23.0,112,28,Both
4,895522,156.0,39.0,160,40,Both
5,895526,152.0,38.0,188,47,Both
6,895528,52.0,13.0,80,20,Both
7,895529,116.0,29.0,120,30,Both
8,895535,56.0,14.0,64,16,Both
9,895536,60.0,15.0,64,16,Both
10,895541,140.0,35.0,168,42,Both
11,895546,40.0,10.0,96,24,Both
12,895720,300.0,75.0,328,82,Both
13,895895,21.0,7.0,51,17,Both
14,895908,84.0,28.0,165,55,Both
15,896123,60.0,12.0,195,39,Both
16,896215,45.0,15.0,66,22,Both
17,897966,108.0,36.0,378,126,Both
18,897967,54.0,18.0,270,90,Both
19,897968,108.0,36.0,378,126,Both
20,897970,108.0,36.0,378,126,Both
21,897974,54.0,18.0,270,90,Both
22,898075,27.0,9.0,135,45,Both
23,898076,54.0,18.0,189,63,Both
24,898091,108.0,36.0,135,45,Both
25,898170,15.0,5.0,93,31,Both
26,898177,162.0,54.0,270,90,Both
27,894809,NaN,NaN,52,13,POITM
28,894815,NaN,NaN,52,13,POITM
29,894845,NaN,NaN,60,15,POITM
...,...,...,...,...,...,...
98,897987,NaN,NaN,57,19,POITM
99,897996,NaN,NaN,51,17,POITM
100,898041,NaN,NaN,57,19,POITM
101,898052,NaN,NaN,81,27,POITM
102,898069,NaN,NaN,378,126,POITM
103,898070,NaN,NaN,135,45,POITM
104,898095,NaN,NaN,108,36,POITM
105,898096,NaN,NaN,216,72,POITM
106,898105,NaN,NaN,51,17,POITM
107,898163,NaN,NaN,57,19,POITM
108,898169,NaN,NaN,69,23,POITM
109,898174,NaN,NaN,378,126,POITM
110,898178,NaN,NaN,51,17,POITM
111,898183,NaN,NaN,51,17,POITM
112,898184,NaN,NaN,60,20,POITM
113,898191,NaN,NaN,51,17,POITM
114,898912,NaN,NaN,480,96,POITM
115,898913,NaN,NaN,240,48,POITM
116,898915,NaN,NaN,480,96,POITM
117,898916,NaN,NaN,240,48,POITM
118,898920,NaN,NaN,320,64,POITM
119,898921,NaN,NaN,160,32,POITM
120,898927,NaN,NaN,160,32,POITM
121,898928,NaN,NaN,80,16,POITM
122,898930,NaN,NaN,160,32,POITM
123,898933,NaN,NaN,80,16,POITM
124,898935,NaN,NaN,160,32,POITM
125,898938,NaN,NaN,80,16,POITM
126,898939,NaN,NaN,200,40,POITM
127,898941,NaN,NaN,120,24,POITM