In [212]:
import pandas as pd
import numpy as np

In [213]:
df = pd.read_excel('PackingListFormat.xlsx', usecols=[0,1,2,3,4,5], header=10)

In [214]:
df.shape

(27, 6)

In [215]:

df.drop(df.tail(2).index,inplace=True)

In [216]:
forCsv = df.groupby(['Item Code'], as_index=False)['Item Code','Number of Pieces','Number of Cartons'].sum()

In [217]:
forCsv['Item Code'] = forCsv['Item Code'].astype(str)

In [218]:
forCsv['Number of Pieces'] = forCsv['Number of Pieces'].astype(int)

In [219]:
forCsv['Number of Cartons'] = forCsv['Number of Cartons'].astype(int)

In [221]:
forCsv.shape

(25, 3)

In [223]:
outDf = pd.read_csv('output.csv', names =['Item Code','Number of Pieces','Number of Cartons'], dtype=object, index_col =False)

In [224]:
outDf = outDf.groupby(['Item Code'], as_index=False)['Number of Pieces','Number of Cartons'].sum()

In [225]:
outDf['Item Code'] = outDf['Item Code'].astype(str)

In [226]:
outDf['Number of Pieces'] = outDf['Number of Pieces'].astype(int)

In [227]:
outDf['Number of Cartons'] = outDf['Number of Cartons'].astype(int)

In [228]:
outDf

   Item Code  Number of Pieces  Number of Cartons
0     895772              1248                312
1     895774               384                 96
2     895779              1500                240
3     895781               288                 72
4     895787               768                192
5     895789               176                 44
6     895835               150                 50
7     895839               192                 64
8     895843               192                 64
9     895847               144                 48
10    896069               280                 96
11    896070               288                 96
12    896072               144                 48
13    896085               240                 48
14    896088               960                192
15    896089               960                192
16    896092               600                120
17    896093               280                 56
18    896096               960                192
19    896113              3600                720
20    896115              1200                240
21    896200               360                 72
22    896201                95                 19
23    896435               480                 96
24    896436               480                 96

In [234]:
common = forCsv.merge(outDf,on=['Item Code','Number of Pieces','Number of Cartons'])
print(common)
#df1[(~df1.col1.isin(common.col1))&(~df1.col2.isin(common.col2))]

   Item Code  Number of Pieces  Number of Cartons
0     895772              1248                312
1     895774               384                 96
2     895781               288                 72
3     895787               768                192
4     895789               176                 44
5     895835               150                 50
6     895839               192                 64
7     895843               192                 64
8     895847               144                 48
9     896070               288                 96
10    896072               144                 48
11    896085               240                 48
12    896088               960                192
13    896089               960                192
14    896092               600                120
15    896093               280                 56
16    896096               960                192
17    896113              3600                720
18    896115              1200                240
19    896200               360                 72
20    896201                95                 19
21    896435               480                 96
22    896436               480                 96

In [246]:
forCsv[(~forCsv['Item Code'].isin(common['Item Code']))]#&(~forCsv['Number of Pieces'].isin(common['Number of Pieces'])) & (~forCsv['Number of Cartons'].isin(common['Number of Cartons']))]

   Item Code  Number of Pieces  Number of Cartons
2     895779               960                240
10    896069               288                 96

In [245]:
forCsv[~forCsv.isin(common)].dropna(how = 'all')

   Item Code  Number of Pieces  Number of Cartons
2     895779             960.0              240.0
3     895781             288.0               72.0
4     895787             768.0              192.0
5     895789             176.0               44.0
6     895835             150.0               50.0
7     895839               NaN                NaN
8     895843             192.0               64.0
9     895847             144.0               48.0
10    896069             288.0               96.0
11    896070             288.0               96.0
12    896072             144.0               48.0
13    896085             240.0               48.0
14    896088             960.0              192.0
15    896089             960.0              192.0
16    896092             600.0              120.0
17    896093             280.0               56.0
18    896096             960.0              192.0
19    896113            3600.0              720.0
20    896115            1200.0              240.0
21    896200             360.0               72.0
22    896201              95.0               19.0
23    896435             480.0               96.0
24    896436             480.0               96.0

In [247]:
outDf[(~outDf['Item Code'].isin(common['Item Code']))]#&(~outDf['Number of Pieces'].isin(common['Number of Pieces'])) & (~outDf['Number of Cartons'].isin(common['Number of Cartons']))]

   Item Code  Number of Pieces  Number of Cartons
2     895779              1500                240
10    896069               280                 96